[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11/
[submodule "3rdparty/libtgvoip"]
	path = 3rdparty/libtgvoip
	url = https://github.com/telegramdesktop/libtgvoip/
[submodule "cmake"]
	path = cmake
	url = https://github.com/desktop-app/cmake_helpers/
